body {
    background-color: #31C09D;
    color: white;
}

h1 {
    font-weight: bold;
}

.container {
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    width: auto;
}