body {
    background: linear-gradient(45deg, #31C09D, #ce60a0);
    background-attachment: fixed;
    color: white;
}

h1 {
    font-weight: bold;
}

.container {
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    width: auto;
}